/*! Code Prettify Material Theme | MIT License | github.com/Richienb/code-prettify-material-theme

.prettyprint
  background: #ffffff
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace
  border: 0 !important

.pln
  color: #4d4d4c

/* Specify class=linenums on a pre to get line numbering

ol.linenums
  margin-top: 0
  margin-bottom: 0
  color: #8e908c

li
  &.L0, &.L1, &.L2, &.L3, &.L4, &.L5, &.L6, &.L7, &.L8, &.L9
    padding-left: 1em
    background-color: #ffffff
    list-style-type: decimal

/* string content

.str
  color: #0D904F

/* keyword

.kwd
  color: #3B78E7

/* comment

.com
  color: #999999

/* type name

.typ
  color: #3E61A2

/* literal value

.lit
  color: #E74C3C

/* punctuation

/* lisp open bracket

/* lisp close bracket

.pun, .opn, .clo
  color: #000000

/* markup tag name

.tag
  color: #3B78E7

/* markup attribute name

.atn
  color: #3E61A2

/* markup attribute value

.atv
  color: #C2185B

/* declaration

.dec
  color: #3B78E7

/* variable name

.var
  color: #3E61A2

/* function name

.fun
  color: #C2185B
